{
  "presets": [
    ["next/babel"]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "Src": "./src",
          "Core": "./src/core",
          "Components": "./src/components",
          "Modules": "./src/modules"
        }
      }
    ]
  ]
}
